<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-12">
      <div class="home-content">
        <div class="home-option-content">
          <div class="content-top">
            <div class="content-top-heading">

              <h2><%= link_to product.title, product_path(product) %></h2>
            </div>
            <!-- <div class="content-top-rating">
              <ul>
                <li><a href="#"><span></span></a></li>
              </ul>
            </div> -->
          </div>
          <div class="content-img">
            <% if product.images.nil? || product.images.empty? %>
              <%= image_tag("product-img-1.png", :class =>"product_default_img")%>
            <% else %>
              
              <%= link_to image_tag(product.images.first.avatar.url(:e_large), options={alt: "Logo"}),product.images.first.avatar.url, class: "colorbox" %>
            <% end %>
          </div>
          <div class="content-bottom">
            <div class="content-bottom-like">
              <ul>
                <% if current_user.likes?(product) %>
                  <li><a class="dislike" id=<%= "#{product.id}" %> ></a><span class="like_count"><%= product.likers(User).count %></span></li>
                <% else %> 
                  <li><a class="like" id=<%= "#{product.id}" %> ></a><span class="like_count"><%= product.likers(User).count %></span></li>
                <% end -%>
                
              </ul>
            </div>
            <div class="content-bottom-date">
              <span><%= link_to product.user.name,profile_path(product.user) %></span>
              <span><%= product.created_at.strftime("%d/%m/%Y") %></span>
              <span><%= image_tag("img-8.png", options={alt: "Logo"}) %></span>
            </div>
          </div>
        </div>
        <% if !product.comments.empty? %>
          <div class="home-comment">
            <div class="home-comment-content">
              <div class="home-comment-person">
                <h3 class="comment-person-first">
                  <% product_comment = product.comments.all.where(:parent_id=>nil).last %>
                  <% if product_comment.user.images.nil? || product_comment.user.images.empty? %>
                    <span><%= link_to image_tag("user.png", :class=>"product_user_default_pic"),profile_path(product_comment.user) %></span>
                  <% else %>
                    <span><%= link_to image_tag(product_comment.user.images.last.avatar.url(:small),:class=>"non-default"),profile_path(product_comment.user) %></span>
                  <% end %>
                  <%= link_to product_comment.user.name, profile_path(product_comment.user) %>
                </h3>
              </div>
              <div class="home-comment-descrip">
                <div class="text-field">
                  <p><%= product_comment.description %></p>
                </div>
                <div class="product-comment-date">
                  <span style="width:auto;display:inline;"><%= product_comment.created_at.strftime("%d/%m/%Y") + " at " + product_comment.created_at.strftime("%H:%M") %></span>
                  <span style="width:auto;display:inline;"><img src="/assets/img-8.png" alt="Img 8"></span>
                </div>  
              </div>
              
            </div>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('a.colorbox').colorbox();
</script>