<% @products.each do |product| %>
  <div class="profile-product">
    <div class="profile-img-content">
      <div class="profile-product-img">
        <% if product.images.nil? || product.images.empty? %>
          <%= image_tag("images.png",:class=>"product_profile_img") %>
        <% else %>
          <%= image_tag(product.images.first.avatar.url, :class=>"product_profile_img") %>
        <% end %>
      </div>
      <div class="profile-img-list">
        <ul>
          <% product.images.limit(4).each do |product_image| %>
            <li><%= link_to image_tag product_image.avatar.url %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="profile-detail-content">
      <div class="profile-product-detail">
        <h3><%= link_to product.title + ":",product_path(product) %></h3>
        <!-- <div class="profile-product-rating">
          <p>Product rating:</p>
          <ul>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
          </ul>
        </div> -->
        <div class="profile-product-descrip">
          <p><%= product.description %></p>
        </div>
      </div>
    </div>
  </div>

<% end %>