
<!-- /.home-page -->
  <div class="home-page">
    <div class="container">
      <h2 class="homepage-heading">Feed</h2>
        <% @products.each do |product| %>
          <div class="row">
            <div class="col-md-12">
              <div class="home-content">
                <div class="home-option-content">
                  <div class="content-top">
                    <div class="content-top-heading">

                      <h2><%= link_to product.title, product_path(product.title) %></h2>
                    </div>
                    <div class="content-top-rating">
                      <ul>
                        <li><a href="#"><span></span></a></li>
                        <li><a href="#"><span></span></a></li>
                        <li><a href="#"><span></span></a></li>
                        <li><a href="#"><span></span></a></li>
                        <li><a href="#"><span></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="content-img">
                    <% if product.images.nil? || product.images.empty? %>
                      <%= image_tag("img-7.png", options={alt: "Logo"}) %>
                    <% else %>
                      <%= image_tag(product.images.first.avatar.url(:e_large), options={alt: "Logo"}) %>
                    <% end %>
                    
                  </div>
                  <div class="content-bottom">
                    <div class="content-bottom-like">
                      <ul>
                        <li><a href="#" class="icon-like"><span></span></a></li>
                        <li><a href="#" class="icon-dislike"><span></span></a></li>
                      </ul>
                    </div>
                    <div class="content-bottom-date">
                      <%= link_to product.created_at.strftime("%d/%m/%Y") %>
                      <%= link_to image_tag("img-8.png", options={alt: "Logo"}) %>
                      
                    </div>
                  </div>
                </div>
                <% if !product.comments.empty? %>
                  <div class="home-comment">
                    <div class="home-comment-content">
                      <div class="home-comment-person">
                        <h3 class="comment-person-first">
                          <% if product.comments.last.user.images.nil? || product.comments.last.user.images.empty? %>
                            <%= image_tag("user.png") %>
                          <% else %>
                            <%= image_tag product.comments.last.user.images.last.avatar.url(:small) %>
                          <% end %>
                          <%= product.comments.last.user.first_name + " " + product.comments.last.user.last_name %> </h3>
                      </div>
                      <div class="home-comment-descrip">
                        <p><%= product.comments.last.description %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
                
              </div>
            </div>
          </div>
        <% end %>
        
        
      
      
    </div>
  </div>
  <!-- /.home-page -->