<input type="hidden" value=<%= @user.id %> id="user_id">
<input type="hidden" value=<%= current_user.id %> id="current_user_id">
<div class="profile-page">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="profile-left-block">
            <div class="person-block">
              <% if @user.images.nil? || @user.images.empty? %>
                <%= image_tag("user.png", class: "profile-pic") %>
              <% else %>
                <%= image_tag(@user.images.last.avatar.url(:profile), class: "profile-pic") %>
              <% end %>
              <div class="person-block-rating">
                <ul>
                  <% i = 1 %>
                  <% while i <= @ratings %>
                    
                    <li><a class="filled-ratings" id="<%= i %>"></a></li>
                    <% i = i+1 %>
                  <% end %>
                  <% while i <= 5 %>
                    
                    <li><a class="ratings" id="<%= i %>"></a></li>
                    <% i = i+1 %>
                  <% end %>
                  
                </ul>
              </div>
              <div class="user_name"><%= @user.first_name + " " + @user.last_name %></div>
              <div style="">
                <% if @user != current_user %>
                  <% if current_user.follows?(@user) %>
                    <input type="button" value="Unfollow" class="unfollow" id="follow_button">
                  <% else %>
                    <input type="button" value="Follow" class="follow" id="follow_button">
                  <% end %>
                <% end %>
              </div>
            </div>
            <div
            <div class="categories-block">
              <h4 class="left-blocks-heading">Popular Categories</h4>
              <ul>
                <% if @categories.count > 1 %>
                  <li><%= link_to "All",search_path(:type=>"category",:search=>"") %></li>
                <% end %>
                <% @categories.each do |category_name| %>
                  <li><%= link_to category_name,search_path(:type=>"category",:search=>category_name) %></li>
                <% end %>
                
              </ul>
            </div>
            <div class="tag-block">
              <h4 class="left-blocks-heading">Tag Cloud</h4>
              <ul>
                
                <li><a href="#">#Hashtag #Hashtag</a></li>
                <li><a href="#">#Hashtag #Hashtag</a></li>
                <li><a href="#">#Hashtag #Hashtag</a></li>
                <li><a href="#">#Hashtag #Hashtag</a></li>
                <li><a href="#">#Hashtag #Hashtag</a></li>
                <li><a href="#">#Hashtag #Hashtag</a></li>
              </ul>
            </div>
            <div class="followers-block">
              <h4 class="left-blocks-heading">Followers</h4>
              <ul>
                <% unless @followers.nil? || @followers.empty? %>
                  <% @followers.take(9).each do |follower| %>
                    <% if follower.images.count < 1 %>
                      <%= link_to image_tag("user.png", class: "profile-img"), profile_path(follower.id) %>
                    <% else %>
                      <%= link_to image_tag(follower.images.last.avatar.url(:thumb), class: "profile-img"),profile_path(follower.id) %>
                    <% end %>
                  <% end %>
                <% end %>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-right-block">
            <% if @featured_products.nil? || @featured_products.empty? %>
            <% else %>
              <h2>Favorites</h2>
              <div class="profile-product">
                <div class="profile-img-content">
                  <div id="carousel-example-generic" class="carousel slide product-img-carousel" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <div class="profile-product-img">
                          <% if @featured_products.first.images.nil? || @featured_products.first.images.empty? %>
                            <%= image_tag("images.png",:class=>"product_profile_img") %>
                          <% else %>
                            <%= image_tag(@featured_products.first.images.first.avatar.url(:large))%>
                          <% end %>
                        </div>
                        <div class="profile-img-list">
                          <ul>
                            <% @featured_products.first.images.limit(4).each do |product| %>
                              <li><%= link_to image_tag product.avatar.url %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                      <!-- <div class="item">
                        <div class="profile-product-img">
                          <%= image_tag("profile-img-4.png") %>
                        </div>
                        <div class="profile-img-list">
                          <ul>
                            <li><a href="#"><%= image_tag("profile-img-5.png") %></a></li>
                            <li><a href="#"><%= image_tag("profile-img-5.png") %></a></li>
                            <li><a href="#"><%= image_tag("profile-img-5.png") %></a></li>
                            <li><a href="#"><%= image_tag("profile-img-5.png") %></a></li>
                          </ul>
                        </div>
                      </div> -->
                      
                    </div>
                  </div>
                </div>
                <div class="profile-detail-content">
                  <div id="carousel-example-generic-1" class="carousel slide product-detail-carousel" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                      <% count=0 %>
                      <% @featured_products.each do |product| %>
                        <li data-target="#carousel-example-generic-1" data-slide-to=<%= count %> class="active"></li>
                        <% count=count+1 %>
                      <% end %>
                      <li data-target="#carousel-example-generic-1" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic-1" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic-1" data-slide-to="2"></li>
                      <li data-target="#carousel-example-generic-1" data-slide-to="3"></li>
                      <li data-target="#carousel-example-generic-1" data-slide-to="4"></li>
                      <li data-target="#carousel-example-generic-1" data-slide-to="5"></li> 
                    </ol> -->
                    <div class="carousel-inner" role="listbox">
                      <% @featured_products.each do |product| %>
                        <div class="item active">
                          <div class="profile-product-detail">
                            <h3><%= link_to product.title+":", product_path(product) %></h3>
                            <div class="profile-product-descrip">
                              <p><%= product.description %></p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="profile-rating-content">
              <ul>
                <li><span href="#"><i class="fa fa-list-ul"></i><span id="sort_span">Sort By</span></span></li>
                <li><span href="#"><i class="fa fa-filter"></i></span></li>
                <li>
                  <select class="form-control select-option product_like_sort">
                    <option>Product Likes</option>
                    <option value="">ASC Order</option>
                    <option value="DESC">DESC Order</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="profile_products">
              <%= render "profile_products" %>
            </div>
            
          </div>
          <div class="load_more" >
            <%= link_to_next_page @products, 'Load More', :remote => true, :id=>"load_more_link" %>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">




    $("#follow_button").click(function() {
      var id = $(this).attr('id');
      var user_id = $("#user_id").val();
      var url_link = '/home/follow';
      var current_id = $(this).attr('class');
      $.ajax({
          url: url_link,
          type: "POST",
          data: {type: current_id, user: user_id},
          success: function (data) {
              if(current_id == "follow"){
                  $("#"+id).removeClass(current_id).addClass('unfollow');
                  $("#"+id).val("Unfollow");
              }
              else{
                  $("#"+id).removeClass(current_id).addClass('follow');
                  $("#"+id).val("Follow");
              }
              
          }
      });
    });

    $(".person-block-rating ul li a").click(function() {
      var id = $(this).attr('id');
      var user_id = $("#user_id").val();
      var current_user = $("#current_user_id").val();
      if(user_id == current_user){
        alert("You can't rate yourself");
      }
      else{
        var url_link = '/user/rating';
        var current_id = $(this).attr('class');
        $.ajax({
            url: url_link,
            type: "POST",
            data: {rating_val: id, user: user_id},
            success: function (data) {
                if(data.message == "success"){
                  for (i = 1; i <= data.rate; ++i) { 
                    $("#"+i).removeClass(current_id).addClass('filled-ratings');
                  }
                  for (; i <= 5; ++i) { 
                    $("#"+i).removeClass(current_id).addClass('ratings');
                  }
                }
                else
                {
                  alert("You already rate this user");
                }

                
                
            }
        });
      }
      
    });

    $('.user_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/user_sorted'
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val}
        });

    });

    $('.product_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/like_sorted';
        var user_id = $("#user_id").val();
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val,user_id: user_id}
        });

    });
    
  </script>