
<div class="profile-page search-result-page">
  <div class="container">
    
      <div class="row">
        <div class="col-md-3">
          <div class="search-heading">
            
          </div>
        </div>
        <div class="col-md-9">
          
          <div class="search_partial_products">
            <% @products.each do |product| %>
              <div class="search-result-widget-1">
                <div class="row">
                  <div class="col-md-4 col-sm-4 left-img-block">
                    <div class="person-block">
                      <% if product.images.count > 0 %>
                        <%= image_tag(product.images.first.avatar.url, options={alt: "Logo"}) %>
                      <% else %>
                        <%= image_tag("product-img-1.png") %>
                      <% end %>
                      <div class="profile-product-likes">
                        <p>
                          <label for=featured_<%= product.id %>>Feature</label>
                          <%= radio_button_tag 'featured', product.id, product.feature == true ? true : false %>
                        </p>
                        <ul>
                          <li><a class="like"></a><span class="like_count"><%= product.total_likes  || 0 %></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <div class="profile-product-detail">
                      <h3><%= link_to product.title, product_path(product) %></h3>
                      <div class="profile-product-descrip">
                        <p><%= product.description %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div id="pagination"><%= paginate @products %></div>

            <% if @products.count < 1 %>
              <h2 style="padding:50px;">No records found</h2>
            <% end %>
          </div>
          
        </div>
      </div>
  </div>
</div>


<script type="text/javascript">
  $('input[type=radio][name=featured]').change(function() {
     var id = this.value;
     var url_link = '/products/update_featured';
      $.ajax({
          url: url_link,
          type: "POST",
          data: {id: id},
          success: function (data) {
              if(data.message = "success"){
                  alert('featured')
              }
              else{
                  alert('not featured')
              }
              
          }
      });
  });
  
</script>