<div class="listing-products">
  <div class="container">
    <h2>Listing products</h2>
    <table class="table table-striped table-bordered listing-products-table">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.title %></td>
            <td>
                <label for="featured">Feature it</label>
                <%= radio_button_tag 'featured', product.id, product.feature == true ? true : false %> 
            </td>
            <td style="text-align:right;">
              <%= link_to 'Show', product, :class=>"list-product-show" %>
              <%= link_to 'Edit', edit_product_path(product),:class=>"list-product-edit" %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },:class=>"list-product-delete" %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>



<script type="text/javascript">
  $('input[type=radio][name=featured]').change(function() {
     var id = this.value;
     var url_link = '/products/update_featured';
      $.ajax({
          url: url_link,
          type: "POST",
          data: {id: id},
          success: function (data) {
              if(data.message = "success"){
                  alert('featured')
              }
              else{
                  alert('not featured')
              }
              
          }
      });
  });
  
</script>