<input type="hidden" value=<%= @product.id %> id="product_id">
<!-- /.product-page-detail -->
  <div class="product-page-detail">
    <div class="container">

      <section class="product-carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators product-slider-indicators">
            <% count=0 %>
            <% @product.images.limit(4).each do |image| %>
              <li data-target="#carousel-example-generic" data-slide-to=<%= count %> class="active">
                <%= image_tag(image.avatar.url(:med)) %>
              </li>
              <% count=count+1 %>
            <% end %>
          </ol>
          <div class="carousel-inner product-carousel-inner" role="listbox">
            <% active=0 %>
            <% @product.images.limit(4).each do |image| %>
              <% if active == 0 %>
                <div class="item active">
              <% else %>
                <div class="item">
              <% end %>
              <%= image_tag(image.avatar.url, class: "style_image") %>
              </div>
              <% active=active+1 %>
            <% end %>
          </div>
        </div>
      </section>
      <section class="product-details">
        <div class="container-product-details">
          <div class="row">
            <div class="col-md-6">
              <!-- <div class="product-details-rating">
                <p>Rating:</p>
                <ul>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                </ul>
              </div> -->
              <div class="product-details-like">
                <ul>
                  <% if current_user.likes?(@product) %>
                    <li><a class="dislike" id=<%= "#{@product.id}" %> ></a><span class="like_count"><%= @product.likers(User).count %></span></li>
                  <% else %> 
                    <li><a class="like" id=<%= "#{@product.id}" %> ></a><span class="like_count"><%= @product.likers(User).count %></span></li>
                  <% end -%>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product-details-date">
                <% if @product.user == current_user %>
                  <%= link_to('Edit Product', edit_product_path,  ) %>
                <% end %>
                
                <%= link_to @product.created_at.strftime("%d/%m/%Y") %>
                
                <%= image_tag("img-8.png", options={alt: "Logo"}) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-descrip">
        <div class="container-product-descrip">
          <div class="row">
            <div class="col-md-8">
              <div class="product-descrip-detail">
                <div class="product-detail">
                  <h3>Title</h3>
                  <div class="product-detail-bg">
                    <p><%= @product.title %></p>
                  </div>
                </div>
                <div class="product-detail">
                  <h3>Description</h3>
                  <div class="product-detail-bg">
                    <p><%= simple_format h @product.description %></p>
                  </div>
                </div>
                <div class="product-detail">
                  <% unless @product.pros.empty? %>
                    <h3>Pros</h3>
                    <div class="product-detail-bg">
                      <p><%= simple_format h @product.pros %></p>
                    </div>
                  <% end %>
                </div>
                <div class="product-detail">
                  <% unless @product.cons.empty? %>
                  <h3>Cons</h3>
                    <div class="product-detail-bg">
                      <p><%= simple_format h @product.cons %></p>
                    </div>
                  <% end %>
                </div>
                <div class="product-detail">
                  <% if !@product.categories.empty? %>
                    <h3>Category</h3>
                    <div class="product-detail-bg">
                        <% @product.categories.each do |category| %>
                          <span class="label label-primary"><%= category.name %></span>
                        <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="product-detail">
                  <% unless @product.price.nil? %>
                  <h3>Price</h3>
                    <div class="product-detail-bg">
                      <p><%= @product.price %></p>
                    </div>
                  <% end %>
                </div>
                <div class="product-detail">
                  <% unless @product.link.empty? %>
                    <h3>Link To Product</h3>
                    <div class="product-detail-bg">
                      <%= link_to @product.link, "http://"+@product.link , target: "_blank" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-descrip-imgs">
                <h3>Similar Products From User</h3>
                <div class="product-imgs-scroll">
                  <ul>
                    <% @products.each do |p| %>
                      <% if p.images.nil? || p.images.empty? %>
                        <li><%= link_to image_tag("product-img-1.png"), product_path(p.id) %></li>
                      <% else %>
                        <li><%= link_to image_tag(p.images.first.avatar.url(:med), class: "same_image"), product_path(p) %></li>
                      <% end %>
                    <% end %>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-comment">
        <div class="container-product-comment">
          <div class="row">
            <div class="col-md-12">
                <% if !@product.comments.empty? %>
                  <div class="product-comment-detail">
                    <h3>Comments</h3>
                    <% product_comments = @product.comments.all.page(params[:page]).per(3) %>
                    <% product_comments.each do |product_comment| %>
                        <div class="product-comment-info">
                          <div class="product-comment-user">
                            <span>
                              <% if product_comment.user.images.nil? || product_comment.user.images.empty? %>
                                <%= link_to image_tag("user.png", class: "comment-pic"),profile_path(product_comment.user) %>
                              <% else %>
                                <%= link_to image_tag(product_comment.user.images.last.avatar.url(:small), class: "comment-pic"
                                ),profile_path(product_comment.user) %>
                              <% end %>
                            </span>
                            <h3><%= link_to product_comment.user.first_name + ' ' + product_comment.user.last_name, profile_path(product_comment.user) %></h3>
                          </div>
                          <div class="text-field">
                            
                            <% if product_comment.user == current_user %>
                              <p><%= best_in_place product_comment, :description, :nil => "Click me to add content!"  %></p>
                              <div class="edit_dlt_options">
                                <span>
                                  
                                  <%= link_to 'Delete', comment_path(product_comment.id), {:method => :delete, :confirm => 'Are you sure?'} %>
                                </span>
                              </div>
                            <% else %>
                              <p><%= product_comment.description %></p>
                              <div class="edit_dlt_options" style="visibility:hidden;"><span>fdsf</span></div>
                            <% end %>
                            <div class="product-comment-date">
                              <span style="width:auto;display:inline;"><%= product_comment.created_at.strftime("%d/%m/%Y") + " at " + product_comment.created_at.strftime("%H:%M") %></span>
                              <span style="width:auto;display:inline;"><%= image_tag("img-8.png") %></span>
                            </div>
                          </div>
                        </div>
                    <% end %>
                    <div style="text-align:center;">
                      <%= paginate product_comments %>
                    </div>
                  </div>
                  <div class="product-comment-detail under-comment">
                    <div class="product-comment-body">
                      <div class="content-none-display"><span>span</span></div>
                      <div class="text-field">
                        <%= form_for @product , url: product_comments_product_path(@product), :method => :post do |f| %>
                          <%= f.fields_for :comments, @product.comments.build do |comment| %>
                            <%= comment.text_area :description, :required => true, :class=>"form-control", placeholder: "Add comment here.." %>
                          <% end %>
                          <%= f.submit "Add Comment", :id=>"create-comment" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <h3>No Comment</h3>
                    
                  <div class="product-comment-detail under-comment" style="padding-top:20px;">
                    <div class="product-comment-body">
                      <div class="content-none-display"><span>span</span></div>
                      <div class="text-field">
                        <%= form_for @product , url: product_comments_product_path(@product), :method => :post do |f| %>
                          <%= f.fields_for :comments, @product.comments.build do |comment| %>
                            <%= comment.text_area :description, :required => true,:class=>"form-control", placeholder: "Add comment here.." %>
                          <% end %>
                          <%= f.submit "Add comment", :id=>"create-comment" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- /.product-page-detail -->
  <script type="text/javascript">
    $(".product-details-like ul li a").click(function() {
        var id = $(this).attr('id');
        var url_link = '/products/'+id+'/product_likes_and_dislikes';
        var current_id = $(this).attr('class');
        $.ajax({
            url: url_link,
            type: "POST",
            data: {type: current_id},
            success: function (data) {
                if(current_id == "dislike"){
                    $("#"+id).removeClass(current_id).addClass('like');
                    $("#"+id).siblings('.like_count').html(data.count);
                }
                else{
                    $("#"+id).removeClass(current_id).addClass('dislike');
                    $("#"+id).siblings('.like_count').html(data.count);
                }
                
            }
        });
    });

  </script>