<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !devise_controller? %>
  <!-- header -->
  <header>
    <div class="container">
      <div class="upper-header">
        <div class="header-container">
          <div class="row">
            <div class="col-md-12">
              <div class="upper-header-content dropdown">
                <ul>
                  <li><%= link_to('Create Product', new_product_path ) %></li>
                  <li><a href="#" class="user-link">
                    <% if current_user.images.nil? || current_user.images.empty? %>
                      <%= image_tag("user.png", class: "profile-img") %>
                    <% else %>
                      <%= image_tag current_user.images.last.avatar.url(:thumb), class: "profile-img" %>
                    <% end %>
                    <%= current_user.first_name + current_user.last_name %></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle setting-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu setting-menu">
                      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete , class: 'logout-link') %></li>
                      <li><%= link_to('Create Product', new_product_path , class: 'logout-link') %></li>
                      <li><%= link_to('Edit Profile', edit_user_registration_path , class: 'logout-link') %></li>
                    </ul>
                  </li>
                  <li><a href="#" class="question-link"><span></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-header">
        <nav class="navbar navbar-default">
          <div class="header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to image_tag("logo.png", options={alt: "Logo"}), root_url, :class => "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search by hashtag, user, product,..">
                  <i class="fa fa-search"></i>
                </div>
                <ul class="form-chk">
                  <li>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"> Hashtag
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"> User
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Product
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> Category
                    </label>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-info">
        <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li style="list-style-type:none;">
              <%= value %>
            </li>
          </ul>
      </div>
    <% end %>
  </header>
  <!-- header -->
  <% end %>
	<%= yield %>

  <% if !devise_controller? %>
  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-content">
            <p>All Rights Reseved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer -->
  <% end %>
</body>
</html>
